# Practice SQL Database types

Fill out the code, as necessary, below based on the directions in Canvas.

In [1]:
# Load the list of dictionaries; just run this cell
import pickle
import sqlite3
import pandas as pd

In [2]:
# Create the grades table
conn = sqlite3.Connection('school.sqlite')
cur = conn.cursor()
cur.execute("""CREATE TABLE grades (
                                    userId INTEGER NOT NULL,
                                    courseId INTEGER NOT NULL,
                                    grade INTEGER,
                                    PRIMARY KEY(userId, courseId)
                                    );
            """)

OperationalError: table grades already exists

In [ ]:
# Load the list of dictionaries; just run this cell
with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [ ]:
for contact in contacts:
    firstName = contact.get('firstName')
    lastName = contact.get('lastName')
    role = contact.get('role')
    telephone = contact.get('telephone ') or contact.get('telephone')  # handle both
    street = contact.get('street')
    city = contact.get('city')
    state = contact.get('state')
    zipcode = contact.get('zipcode ') or contact.get('zipcode')        # handle both

    cur.execute("""
        INSERT INTO contactInfo 
        (firstName, lastName, role, telephone, street, city, state, zipcode)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?);
    """, (firstName, lastName, role, telephone, street, city, state, zipcode))

In [ ]:
cur.execute("""SELECT * 
               FROM contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

In [ ]:
# Commit your changes to the database: Persist your changes by committing them to the database.
conn.commit()

# Continue

Remove duplicates entries: An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.
Updating an address: Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.
Commit your changes to the database: Persist your changes by committing them to the database.

In [ ]:
# Find the duplicate entry with SQL code

cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

In [ ]:
# Delete the duplicate entry
cur.execute("""DELETE FROM contactInfo 
               WHERE telephone = 3259909290;""")

# Check that the duplicate entry was removed 
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

In [ ]:
# Update Ed's address
cur.execute("""UPDATE contactInfo
               SET street = "2910 Simpson Avenue",
                   city = 'York',
                   state = 'PA',
                   zipcode = '17403'
               WHERE firstName = "Ed" AND lastName = "Lyman";""")

# Query the database to ensure the change was made
cur.execute("""SELECT * 
               FROM contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df