# Joins

In [ ]:
q = """
SELECT *
FROM employees
JOIN managers
   ON employees.manager_id = managers.id
;
"""
pd.read_sql(q, conn)

In [ ]:
# employees.name table.column
# This is the key     ON employees.manager_id = managers.id

q = """
SELECT
   employees.name AS employee_name,
   employees.pay AS employee_pay,
   managers.name AS manager_name
FROM employees
JOIN managers

    ON employees.manager_id = managers.id
;
"""
pd.read_sql(q, conn)