# SQL

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('data.sqlite')

cur = conn.cursor()

In [6]:
# List of my tables

# Execute the query

# (This is a special query for finding the table names. You don't need to memorize it.)

# SQLite databases all have a sqlite_master table that stores the schema information

cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")

# Fetch the result and store it in table_names

table_names = cur.fetchall()

table_names

[]

In [8]:
# List of the columns

cur.execute("""SELECT * FROM offices;""")
cur.fetchall()

OperationalError: no such table: offices

In [9]:
# Both combined

cur.execute("""SELECT * FROM offices;""").fetchall()

OperationalError: no such table: offices

In [10]:
# Viewing the Column Names from the offices Table
# Information about the column names can be retrieved from the cursor. Since the most recent query was
    # SELECT * FROM offices; the cursor will contain information about the offices table:

cur.description

In [12]:
# If we wanted to combine the previous two steps together to make a dataframe with the right column names, that would look like this:
# I will get  everything  in 'office'

import pandas as pd

pd.DataFrame(
    data=cur.execute("""SELECT * FROM offices;""").fetchall(),
    columns=[x[0] for x in cur.description]
)

OperationalError: no such table: offices

In [13]:
# close the connection to the database

conn.close()

In [14]:
# Connecting to the Database

conn = sqlite3.connect("data.sqlite")

In [15]:
#  Viewing the List of Tables

df = pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table';""", conn)

In [16]:
# Selecting All Data from the Offices Table and Viewing the Column Names from the Offices Table

pd.read_sql("SELECT * FROM offices;", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM offices;': no such table: offices

In [18]:
conn.close()